@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background: #f0f0f5
}

button{
    background-color: blanchedalmond;
    font-size: 30px;
}
.button2 {
    float: left;
    width: 200px;
    height: 250px;
    color:  rgb(175, 103, 103);
    background-color: black;
    border-radius: 10px;
    border-color: blanchedalmond;
}